body {
    font-family: Arial, sans-serif;
    background-color: darkblue;
}

.container {
    display: flex;
}

.left-side {
    width: 30%;
    margin: 20px;
}

.title{
    padding-left: 0px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}

.inputbtn {
    text-align: center;
    margin-bottom: 20px; 
}

.inputbtn input[type="submit"] {
    padding: 8px 20px;
    background-color: lightskyblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0px;
    margin-bottom: 80px;
}

.link .button {
    display: inline-block;
    padding: 8px 20px;
    background-color: lightskyblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.link .button:hover {
    background-color: lightblue;
}

.link .button:active {
    background-color: #009ACD;
}


.right-side {
    flex: 1;
    margin: 20px;
}

.chat-messages {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 400px; 
    overflow-y: auto; 
}

.chat-message {
    margin-bottom: 10px;
}

.chat-sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-message-body {
    max-width: 80%;
}

.form {
    margin-bottom: 20px;
}

.form textarea {
    width: calc(100% - 20px);
    height: 100px;
    padding-left: 15px;
}
