<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <title>Přihlásit</title>
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="title">
                <h1>Přihlásit</h1>
            </div>
            <div class="form">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-group">
                        <label for="uzivatel_jmeno">Uživatelské jméno</label>
                        <p>(uzivatele jsou pavel, karel, tom)</p>
                        {{ form.uzivatel_jmeno }}
                    </div>
                    <div class="input-group">
                        <label for="heslo">Heslo</label>
                        <p>(heslo pro všechny je "123")</p>
                        {{ form.heslo }}
                    </div>
                    <input type="submit" value="Přihlásit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
